@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body, html {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

div.container a {
  color: rgb(62, 126, 108);
}

div.container a:hover {
  color: rgb(62, 126, 108, 0.8);
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px
}

p {
  margin-top: 30px;
  margin-bottom: 30px
}

#dropdownUser1 {
  font-size: 16px;
}

.dropdown-menu .dropdown-logout {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

#login {
  font-size: 17px;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#login:hover {
  color: rgba(27, 64, 54, 0.899);
  border-color: rgba(27, 64, 54, 0.79);
}

#signup {
  background-color: rgba(2, 92, 50, 0.834);
  border-color: rgb(76, 158, 134);
  font-size: 18px;
  padding-left: 22px;
  padding-right: 22px;
}

#signup:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

#evaluationBtn {
  font-size: 18px;
  border-color: rgb(76, 158, 134);
  background-color: rgba(2, 92, 50, 0.834);
  padding-left: 20px;
  padding-right: 20px;
}

#evaluationBtn:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

#evaluationResultsBtn {
  font-size: 18px;
  border-color: rgb(76, 158, 134);
  background-color: rgba(2, 92, 50, 0.834);
  padding-left: 20px;
  padding-right: 20px;
}

#evaluationResultsBtn:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

#passwordResetBtn {
  font-size: 18px;
  border-color: rgb(76, 158, 134);
  background-color: rgba(2, 92, 50, 0.834);
  padding-left: 20px;
  padding-right: 20px;
}

#passwordResetBtn:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

#purchaseReportBtn {
  font-size: 18px;
  border-color: rgb(76, 158, 134);
  background-color: rgba(2, 92, 50, 0.834);
  padding-left: 20px;
  padding-right: 20px;
}

#purchaseReportBtn:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

#downloadReportBtn {
  font-size: 18px;
  border-color: rgb(76, 158, 134);
  background-color: rgba(2, 92, 50, 0.834);
  padding-left: 20px;
  padding-right: 20px;
}

#downloadReportBtn:hover {
  background-color: white;
  color: rgb(62, 126, 108);
  border-color: rgba(93, 190, 163, 1);
}

.dropdown-item {
  font-size: 16px;
}

.dropdown-item:hover {
  color: rgb(62, 126, 108);
  background-color: white;
}

.forgot-password-text {
  margin-top: 20px;
}
