@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif !important;
}

.btn {
  background-color: #198754;
}

.btn:hover {
  background-color: #0b5ed7;
}
