@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body, html {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px
}

p {
  margin-top: 30px;
  margin-bottom: 30px
}

#dropdownUser1 {
  font-size: 16px;
}

.dropdown-menu .dropdown-logout {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

#login {
  font-size: 17px;
  color: rgba(54, 69, 79, 1);
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#signup {
  font-size: 18px;
  padding-left: 22px;
  padding-right: 22px;
}

#signup:hover {
  background-color: white;
  color: rgba(54, 69, 79, 1);
}

.dropdown-item {
  font-size: 16px;
}

.forgot-password-text {
  margin-top: 20px;
}

.btn {
  background-color: #198754;
}

.btn:hover {
  background-color: #0b5ed7;
}
