{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}Josh Hayles{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="Protest Report"
    />

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/form-styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a class="navbar-brand" href="{% url 'home' %}">Tax Corrector</a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <!-- Add any common navigation items here -->
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user.username }}
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
            <li>
              <a class="dropdown-item" href="{% url 'password_change' %}"
                >Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'evaluation_form' %}"
                >Evaluation</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'password_change' %}"
                >Change Password</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <form action="{% url 'logout' %}" method="post" id="logout-form">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Log out</button>
              </form>
            </li>
          </ul>
        </div>
        {% else %}
        <div class="text-end">
          <a
            href="{% url 'login' %}"
            id="login"
            class="btn btn-outline-primary me-2"
            >Log In</a
          >
          <a href="{% url 'signup' %}" id="signup" class="btn btn-primary"
            >Register</a
          >
        </div>
        {% endif %}
      </div>
    </header>

    <main>
      <div class="container">{% block content %} {% endblock content %}</div>
    </main>

    <!-- Bootstrap JavaScript Bundle -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="Protest Report"
    ></script>

    {% block script %}{% endblock script %} 
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
