{% extends "base.html" %} 
{% block title %}Home{% endblock title %} 

{% block content %} 
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p>Click the button below to access your free evaluation.</p>
<button class="btn btn-success ml-2" id="evaluationBtn" type="button">Free Evaluation</button>
<!-- <p><a href="{% url 'logout' %}">Log Out</a></p> -->
{% else %}
<p>You are not logged in</p>
{% endif %} 
{% endblock content %} 

{% block script %}
<script>
  console.log("JavaScript is running");
  document.addEventListener("DOMContentLoaded", () => {
    const evaluationBtn = document.getElementById("evaluationBtn");
    evaluationBtn.addEventListener("click", () => {
      const evaluationFormUrl = "{{ evaluation_form_url }}";
      console.log("Evaluation Form URL:", evaluationFormUrl);
      if (evaluationFormUrl) {
        window.location.href = evaluationFormUrl;
      } else {
        console.error("Evaluation Form URL is not defined");
      }
    });
  });
</script>
{% endblock script %}