{% extends "base.html" %}

{% load static %}

{% block content %}
  <h2>Purchase Report</h2>
  <p>It looks like we've found a solid case for your home!</p>
  <p>Once you agree to the terms, simply click the button below to purchase the report for $27.00</p>
  <button class="btn btn-primary" id="purchaseReportBtn">Purchase Report $27.00</button>
{% endblock content %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'main.js' %}"></script>
{% endblock script %}